@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import url(./frameworks/bootstrap.css);
@import url(./frameworks/bootstrap-icons.css);

@import url(./normalize.css);
@import url(./reset.css);
@import url(./cores.css);
@import url(./variaveis.css);

@import url(./elementos/loader.css);
@import url(./elementos/no-script.css);
@import url(./elementos/consultas-arquivos.css);
@import url(./elementos/modal-informacoes-pagina.css);

html{
  scroll-behavior: smooth;
  font-size: 16px;
}

body{
  background-color: #F6F6F6;
}

*, body{
  font-family: 'Inter', sans-serif;
}

main{
  min-height: calc(100vh - 12.5rem);
}

.link-visivel{
  text-decoration: underline;
}

.hgroup{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

[data-hgroup="confirmacao-cca"]{
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #D3D3D3;
}

.hgroup .hgroup-titulo{
  font-weight: 600 !important;
  margin-right: 0.5rem;
}

.hgroup .hgroup-acoes button:not(:last-child){
  margin-right: 0.25rem;
}

.hgroup .hgroup-acoes button{
  /* border: 1px solid #808080; */
}

.form-floating{
  position: relative;
}

.form-floating button{
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translate(0, -50%);
}

.form-floating button,
.form-floating button:is(:active, :hover, :focus){
  background: unset !important;
  border: unset !important;
  padding: unset !important;
}

.form-floating button.btn-outline-success{
  color: #008000 !important; 
}

.form-floating button.btn-outline-danger{
  color: #FF0000 !important;
}

textarea{
  scrollbar-width: none;
  resize: none;
  outline: none;
  height: 40px;
  width: 300px;
}

textarea::-webkit-scrollbar{
  display: none;
}

@media screen and (max-width: 450px) {
  .hgroup{
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
  }

  .hgroup .hgroup-acoes{
    margin-top: 1rem;
  }
}

[data-input="nome"]{
  text-transform: uppercase;
}

button i{
  margin-right: 0 !important;
  padding-right: 0 !important;
}

[data-input]:invalid,
.invalido input{
  border: 1px solid rgb(255, 0, 0, 0.4) !important;
}

[data-input]:invalid:is(:hover, :focus),
.invalido input:is(:hover, :focus){
  box-shadow:  0px 0px 0px 3.5px rgb(255, 142, 142, 0.4) !important;
  -webkit-box-shadow: 0px 0px 0px 3.5px rgb(255, 142, 142, 0.4) !important;
  -moz-box-shadow: 0px 0px 0px 3.5px rgb(255, 142, 142, 0.4) !important;
}

.feedback_dado{
  display: none;
}

.invalido .feedback_dado{
  color: rgb(255, 0, 0, 1) !important;
  display: initial;
}

[data-form="pesquisa"] button{
  border-color: #CED1DD;
  background-color: #DEE2E6;
}

.links-faceis-confirmacao{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33% - 1rem), 1fr));
  grid-gap: 1rem;
}

.links-faceis-confirmacao .card{
  display: inline-block;
  background-color: transparent;
  transition: 0.2s background ease-in-out;
}

.links-faceis-confirmacao .card:hover{
  border: 1px solid rgb(0, 0, 0, 0.10);
  background-color: rgb(0, 0, 0, 0.05);
}

.links-faceis-confirmacao .card .card-header{
  background-color: transparent;
  transition: 0.2s background ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links-faceis-confirmacao .card:hover .card-header{
  border-bottom: 1px solid rgb(0, 0, 0, 0.10);
}