@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import url(./frameworks/bootstrap.css);
@import url(./frameworks/bootstrap-icons.css);

@import url(./normalize.css);
@import url(./reset.css);

@import url(./elementos/no-script.css);
@import url(./cores.css);
@import url(./variaveis.css);

html{
  scroll-behavior: smooth;
}

*, body{
  font-family: 'Inter', sans-serif;
}

[data-input="nome"]{
  text-transform: uppercase;
}

[data-input]:invalid{
  border: 1px solid #FF0000;
}

[data-input]:invalid:is(:hover, :focus){
  box-shadow:  0px 0px 0px 3.5px rgb(255, 142, 142, 0.2) !important;
  -webkit-box-shadow: 0px 0px 0px 3.5px rgb(255, 142, 142, 0.2) !important;
  -moz-box-shadow: 0px 0px 0px 3.5px rgb(255, 142, 142, 0.2) !important;
}