@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import url(./frameworks/bootstrap.css);
@import url(./frameworks/bootstrap-icons.css);

@import url(./normalize.css);
@import url(./reset.css);
@import url(./cores.css);
@import url(./variaveis.css);

@import url(./elementos/loader.css);
@import url(./elementos/no-script.css);
@import url(./elementos/consultas-arquivos-links.css);
@import url(./elementos/modal-informacoes-pagina.css);
@import url(./elementos/footer.css);
@import url(./elementos/form.css);
@import url(./elementos/links-faceis-confirmacao.css);
@import url(./elementos/secao-controlada.css);

@import url(./paginas/desligamento.css);

html{
  scroll-behavior: smooth;
  font-size: 16px;
}

body{
  background-color: #F6F6F6;
}

*, body{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.swal2-html-container{
  font-size: 1rem !important;
}

main{
  min-height: calc(100vh - 12.5rem);
}

.link-visivel{
  text-decoration: underline;
}

.hgroup{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

[data-hgroup="confirmacao-cca"]{
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #D3D3D3;
}

.hgroup .hgroup-titulo{
  font-weight: 600 !important;
  margin-right: 0.5rem;
}

.hgroup .hgroup-acoes button:not(:last-child){
  margin-right: 0.25rem;
}

.hgroup .hgroup-acoes button{
  /* border: 1px solid #808080; */
  position: static;
}

textarea{
  scrollbar-width: none;
  resize: none;
  outline: none;
  height: 40px;
  width: 300px;
}

textarea::-webkit-scrollbar{
  display: none;
}

@media screen and (max-width: 450px) {
  .hgroup{
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
  }
  
  .hgroup .hgroup-acoes{
    margin-top: 1rem;
  }
}

.form-btn-copy-float{
  position: relative;
  
  &:hover{
    .btn-copy-float{
      display: block !important;
    }
  }
  
  .btn-copy-float{
    transition: ease-in-out 0.3s all;
    display: none;
    position: absolute;
    top: 0;
    margin: 0.75rem;
    right: 0;
    padding: 0.5rem;
    background-color: #D3D3D3;
    border-color: #808080;
    border-radius: 0.25rem;
  }
}

.none{
  display: none;
}

.alert.info{
  &::before{
    content: "\F430";
    font-family: 'bootstrap-icons';
    margin-right: 0.25rem;
  }
  
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: rgb(0, 0, 0, 0.25);
}

.nav-tabs .nav-link,
.nav-link.active{
  border-bottom: unset;
}

#modal-calcular-percentual{
  [data-tab]{
    margin-top: 1rem;
  }
}

.container.container-fluid{
  background-color: rgba(0, 0, 0, 0.01);
  padding: 0.5rem 1rem;
  padding-right: 0.5rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  .navbar-icon{
    background-color: #0D6EFD; 
    width: 1rem; 
    height: 1rem; 
    display: inline-block; 
    margin-right: 0.5rem; 
    border-radius: 0.25rem;
  }

  .navbar-brand{
    color: #0D6EFD;
    font-size: 1.5rem;
    font-weight: 900;
  }
}

@media (prefers-color-scheme: dark) {
  body{
    position: static;
  }
}

@media screen and (width <= 575px) {
  .container.container-fluid{
    margin: 0 0.5rem;
  }
}

@media screen and (width <= 450px) {
  .accordion-button{
    [data-information="nome-proponente"]{
      display: initial;
    }
  }
  
  [data-identify]{
    .d-flex.justify-content-between.align-items-center{
      flex-direction: column;
      place-content: flex-start;
      place-items: flex-start;
      align-items: flex-start !important;
    }
    
    .card-body-header [data-content="nome"]{
      margin-bottom: 1rem;
      display: block;
    }
    
    [data-action="remover-proponente"]::after{
      content: "";
    }
    
    .feedback_dado{
      display: none;
    }
    
    .row{
      flex-direction: column;
      
      .col:not(:first-child){
        margin-top: 1rem;
      }
    }
  }
}