.titulo-consultas:not(:first-child),
.titulo-arquivos:not(:first-child){
  margin-top: 1rem;
}

.titulo-consultas,
.titulo-arquivos{
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

[data-content="area-consultas"] .consultas,
[data-content="area-arquivos"] .arquivos,
[data-content="area-links"] .links{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem 1rem;
}

.consultas:not(:last-child),
.arquivos:not(:last-child){
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1.25rem;
}

.content{
  border-radius: 5px;
}

.content{
  background-color: #F6F6F6;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1rem;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.content:is(:focus, :hover){
  border-color: rgba(0, 0, 0, 0.5);
  background-color: #F2F2F2;
}

.content .content-tag{
  color: rgba(0, 0, 0, 0.5);
}

.content .content-principal h5{
  font-weight: 600;
}

.content .content-principal span{
  margin-top: 0.25rem;
  display: inline-block;
}

.content .content-principal span{
  color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 767px) {
  [data-content="area-consultas"] .consultas,
  [data-content="area-arquivos"] .arquivos{
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  }
}