.form-floating{
  position: relative;
}

.form-floating button{
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translate(0, -50%);
}

.form-floating button,
.form-floating button:is(:active, :hover, :focus){
  background: unset !important;
  border: unset !important;
  padding: unset !important;
}

.form-floating button.btn-outline-success{
  color: #008000 !important; 
}

.form-floating button.btn-outline-danger{
  color: #FF0000 !important;
}

[data-input="nome"]{
  text-transform: uppercase;
}

button i{
  margin-right: 0 !important;
  padding-right: 0 !important;
}

[data-input]:invalid,
.invalido input{
  position: static;
  border: 1px solid rgb(255, 0, 0, 0.15) !important;
}

[data-input]:invalid:is(:hover, :focus),
.invalido input:is(:hover, :focus){
  box-shadow:  0px 0px 0px 3.5px rgb(255, 142, 142, 0.4) !important;
  -webkit-box-shadow: 0px 0px 0px 3.5px rgb(255, 142, 142, 0.4) !important;
  -moz-box-shadow: 0px 0px 0px 3.5px rgb(255, 142, 142, 0.4) !important;
}

.feedback_dado{
  display: none;
}

.invalido .feedback_dado{
  color: rgb(255, 0, 0, 1) !important;
  display: initial;
}

[data-form="pesquisa"] button{
  border-color: #CED1DD;
  background-color: #DEE2E6;
}

.selecao-multiplas-opcoes{
  display: flex;
  flex-wrap: wrap;
  place-content: flex-start;
  place-items: center;
  gap: 0.25rem;
  width: 100%;
  
  .btn{
    padding: 0.3rem 0.45rem;
    border-radius: 3px;
    font-size: 13px;
    box-shadow: unset !important;
    outline: none;

    &:hover, &:focus, &:active, &.checked{
      background-color: #007BFF;
      color: #fff;
      box-shadow: unset !important;
      outline: none;
    }

    &:hover:not(.checked), &:focus:not(.checked){
      background-color: rgba(0, 123, 255, 0.05) !important;
      color: #007BFF;
    }

    &::before{
      content: "+";
      margin-right: 0.25rem;
    }

    &.checked::before{
      content: "-";
    }
  }
}

@media screen and (width <= 345px) {
  .input-group-text{
    flex-direction: column;
    width: calc(100%);
    border-radius: 0;
    margin: 0;

    .bi:not(.bi-trash){
      display: none;
    }

    [data-action="remover-renda"] .bi{
      display: flex;
    }
  }
}

