.modal-informacoes-pagina{
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: min(calc(100vw - 1rem), 500px);
  z-index: 1000;
  color: #000;
  outline: unset;
}

.modal-informacoes-pagina::backdrop{
  background: rgba(0, 0, 0, 0.8);
}

kbd{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: inherit;
  font-size: 100%;
  font-family: 'Consolas', monospace, sans-serif;
  vertical-align: baseline;
  background: transparent;
  border-color: #E6E6E6 #BEBEBE #BEBEBE #e6e6e6;
  border-style: solid;
  border-width: 1px 3px 4px;
  padding: 0 5px;
  background-color: #D2D2D2;
  background-color: rgba(210, 210, 210, 0.9);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.x{
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #FFF inset;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #FFF inset;
  background-color: #F7F7F7;
  border: 1px solid #CCC;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #FFF inset;
  color: #333;
  display: inline-block;
  font-family: monospace, sans-serif;
  font-size: 100%;
  line-height: 1.4;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 #FFF;
}