/* Página INDEX de desligamento */
[data-content="form-laudo"]{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, minmax(calc(50% - 0.5rem), 1fr));
  
  .forms-groups{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

a{
  .seta{
    transition: margin ease-in-out 0.3s;
  }
  
  &:hover{
    .seta{
      margin-left: 0.25rem;
    }
  }
}

.banner{
  border-radius: 0;
  background: url(../../img/banner-post.webp) center / cover no-repeat;
  padding: 2.5rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media screen and (width <= 575px) {
  [data-content="form-laudo"]{
    grid-template-columns: repeat(1, minmax(calc(100% - 0.5rem), 1fr));
  }
}